@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  height: 65vh;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn,
#prevBtn,
#nextBtn,
#resetBtn {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}

#prevBtn,
#nextBtn,
#resetBtn {
  background-color: #2196F3;
  color: white;
}

#favBtn {
  margin: 15px 0px;
  padding: 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0b54bb;
  color: white;
}

a {
  text-decoration: none;
  font-size: 13px;
}

#searchBtn:hover,
#prevBtn:hover,
#nextBtn:hover,
#resetBtn:hover,
#favBtn:hover {
  opacity: 0.8;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  padding: 15px;
  text-transform: capitalize;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(196, 196, 196, 0.694);
  transition: all .1s linear;
}

span {
  font-size: 20px;
  font-weight: 600;
}

.pokemon img {
  cursor: pointer;
  width: 250px;
  height: 250px;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  border: 10px solid #0b54bb;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
}

.modal>p {
  margin-top: 30px;
}

.text {
  margin-bottom: 25px;
}

.text p {
  margin: 7px;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.star::after {
  position: relative;
  top: 5px;
  cursor: pointer;
  color: gold;
  font-family: 'Bootstrap-icons';
  font-size: 25px;
  content: '\F588';
}

.star.fill::after {
  position: relative;
  top: 5px;
  cursor: pointer;
  color: gold;
  font-family: 'Bootstrap-icons';
  font-size: 25px;
  content: '\F586';
}